<div class="slider">
    {% for block in section.blocks %}
        <div class="announcement" style="
            color: {{ block.settings.ann_color}};
            background: {{ block.settings.ann_bg_color }}">
            {{ block.settings.announcement_icon }}
            {{ block.settings.announcement_text }}</div>
    {% endfor %}
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
