{{ 'base-test.css' | asset_url | stylesheet_tag }}
{% liquid
  assign directUspImage = section.settings.direct_image
  assign directProductText = section.settings.direct_product_text
%}
<section class="direct-usp-section">

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% liquid
        assign directUspImage = block.settings.direct_image
        assign directProductText = block.settings.direct_product_text
      %}
      <div class="direct-usp-item">
        <div class="direct-image-container">
          <figure>
            {% render 'snippet-image'
              , image: directUspImage
              , loadingLazy: 'false'
              , class: 'direct-hero-image' %}
          </figure>
        </div>
        <div class="direct-product-name">{{ directProductText }}</div>
      </div>
    {% endfor %}
  {% endif %}
</section>


<style>
  .direct-usp-item .direct-image-container figure {
    margin: 0;
    display: flex;
    height: 100%;
  }
  .direct-usp-item .direct-image-container figure > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .direct-usp-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 20px 0;
    flex-wrap: wrap;
    gap: 20px
  }
  .direct-usp-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .direct-image-container {
    width: 250px;
    aspect-ratio: 1;
  }
  .direct-image-container img {
    object-fit: cover;
    width: 100%;
  }
  .direct-product-name {
    font-family: 'Montserrat'
    , sans-serif;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    .direct-usp-item {
      width: 48%;
    }
    .direct-image-container {
      width: 150px;
    }
    .direct-product-name {
      font-size: 18px;
    }
  }
  @media (max-width: 480px) {
    .direct-usp-item {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .direct-usp-item .direct-image-container {
      align-self: center;
    }
  }

</style>
{% schema %}

  {
    "name": "Direct  USP",
    "blocks": [
      {
        "type": "usp",
        "name": "USP ITEM",
        "settings": [
          {
            "type": "text",
            "id": "direct_product_text",
            "label": "Product Text"
          }, {
            "type": "image_picker",
            "id": "direct_image",
            "label": "Section Image"
          }
        ]
      }
    ],
    "max_blocks": 6,
    "presets": [
      {
        "name": "Direct USP"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}